.navbar{
  background: darkred;
  padding-left: 20%;
}

.bgred{
  background: crimson;
}

.row{
  background: #AE1833;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}

.Image-Scale{
  width: 100%;
}
